.circle-btn {
  background: var(--pink-gradient);
  border-radius: 999px;
  width: 94px;
  height: 94px;
  box-shadow: inset 0px -6px 0 7px rgba(157, 45, 245, 0.25);
  padding-top: 22px;
  display: inline-flex;
  justify-content: center;
  z-index: 10;
  outline: 0;
  border: 0;
  cursor: pointer;
  flex-shrink: 0;
}

.circle-btn img {
  height: 38px;
  width: 41px;
}

.circle-btn:hover,
.circle-btn:focus {
  background: var(--pink-gradient-hover);
}

.circle-btn.centered {
  align-items: center;
  padding-top: 0;
  margin-right: 57px;
}

@media (max-width: 1439px) {
  .circle-btn {
    width: 64px;
    height: 64px;
    padding-top: 15px;
    left: 0;
  }

  .circle-btn img {
    height: 26px;
    width: 26px;
  }

  .circle-btn.centered {
    margin-right: 32px;
  }
}

@media (max-width: 767px) {
  .circle-btn {
    width: 40px;
    height: 40px;
    padding-top: 9px;
    /* align-items: center; */
    box-shadow: inset 0px -5px 0px -1px rgba(157, 45, 245, 0.25);
    justify-content: center;
    left: 25px;
    margin-right: 16px;
  }

  .circle-btn.centered {
    margin-right: 16px;
    height: 40px;
    width: 40px;
  }

  .circle-btn img {
    width: 17px;
    height: 16px;
  }
}
