.game-board-line {
  display: flex;
  gap: 16px;
}

.game-board-letter {
  background-color: var(--blue);
  border-radius: 40px;
  box-shadow: inset 0px -2px 0px 3px var(--dark-blue),
    inset 0px 1px 0px 6px #3c74ff;
  width: 112px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 88px;
  line-height: 120%;
  font-weight: 100;
  text-transform: uppercase;
  cursor: default;
  background-clip: content-box;
  padding: 1px;
}

.game-board-letter.blank {
  opacity: 0.25;
}

.game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  height: 480px;
  margin-left: 21px;
}

.space {
  width: 112px;
}

@media (max-width: 1439px) {
  .game-board-letter {
    font-size: 64px;
    height: 112px;
    width: 88px;
    border-radius: 32px;
  }

  .game-board-line {
    gap: 12px;
  }

  .game-board {
    margin-left: 0;
  }

  .space {
    width: 61px;
  }
}

@media (max-width: 767px) {
  .game-board {
    height: 340px;
    gap: 12px 8px;
  }

  .game-board-line {
    gap: 8px;
  }

  .game-board-letter {
    height: 66px;
    width: 40px;
    border-radius: 12px;
    font-size: 40px;
  }

  .space {
    width: 20px;
  }
}
