.category-container {
  width: 384px;
  height: 190px;
  background: var(--blue);
  box-shadow: inset 0px -2px 0px 3px var(--dark-blue),
    inset 0px 1px 0px 6px #3c74ff;
  border-radius: 40px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.05em;
  font-weight: 100;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-family: "MouseMemoirs-Regular", sans-serif;
}

.category-container:hover,
.category-container:focus {
  background: #a3bdff;
}

@media (max-width: 1439px) {
  .category-container {
    padding: 12px;
    width: 324px;
    height: 183px;
  }
}

@media (max-width: 767px) {
  .category-container {
    width: 100%;
    padding: 24px 64px;
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 120%;
    height: auto;
    border-radius: 20px;
  }
}
