.pause-menu {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 20;
}

.pause-menu-background {
  background: var(--blue-gradient);
  opacity: 0.8;
  width: 100vw;
  height: 100%;
  position: absolute;
}

.pause-menu-foreground {
  z-index: 30;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.pause-menu-title {
  font-size: 134px;
  background: var(--title-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "MouseMemoirs-Regular", sans-serif;
  position: relative;
  cursor: default;
  line-height: 120%;
  font-weight: 100;
}

.pause-menu-title:after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  z-index: -1;
  -webkit-text-stroke: 16px rgba(36, 48, 65, 1);
  font-size: 1em;
}

.pause-menu-box {
  height: 445px;
  width: 592px;
  border-radius: 72px;
  background: linear-gradient(#344aba 0%, rgba(0, 20, 121, 0.83) 100%);
  box-shadow: inset 0px -8px 0px 4px var(--dark-blue),
    inset 0px 6px 0px 8px var(--blue);
  margin-top: -80px;
  top: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pause-menu-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.pause-menu-title-container {
  margin-top: -100px;
  z-index: 10;
}

.primary-btn.pause-menu-quit-btn {
  box-shadow: inset 0px -2px 0px 3px var(--dark-blue),
    inset 0px 1px 0px 6px #c642fb;
  background: var(--pink-gradient);
}

.primary-btn.pause-menu-quit-btn:hover,
.primary-btn.pause-menu-quit-btn:focus {
  background: var(--pink-gradient-hover);
}

.pause-menu-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 34px;
  height: 100%;
  margin-top: -20px;
}

@media (max-width: 767px) {
  .pause-menu-box {
    width: 324px;
    top: 20px;
    border-radius: 48px;
  }

  .pause-menu-title {
    font-size: 94px;
  }

  .pause-menu-title-container {
    margin-top: -50px;
  }
}
