.player-lives-meter {
  border-radius: 96px;
  width: 240px;
  height: 31px;
  background-color: white;
  padding: 9px 11px;
  display: flex;
  align-items: center;
  margin-right: 40px;
  transition: width 0.3s ease-out;
  overflow: hidden;
}

.progress-bar {
  /* appearance: none; */
  height: 13px;
  border-radius: 96px;
  background-color: white;
  width: 100%;
  border-color: transparent;
}

/* Chrome and Safari */
.progress-bar::-webkit-progress-bar {
  background: white;
  border-radius: 96px;
}

.progress-bar::-webkit-progress-value {
  background-color: var(--navy);
  border-radius: 96px;
  transition: width 0.3s ease-out;
}

/* Firefox */
.progress-bar::-moz-progress-bar {
  border-radius: 96px;
}

@media (max-width: 1439px) {
  .player-lives-meter {
    width: 160px;
  }
}
