.player-lives-meter {
  border-radius: 96px;
  width: 240px;
  height: 31px;
  background-color: white;
  padding: 11px 9px;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.player-life {
  background: var(--navy);
  height: 13px;
  width: calc(100% / 8);
}

.player-life:first-child {
  border-top-left-radius: 96px;
  border-bottom-left-radius: 96px;
}

.player-life:last-child {
  border-top-right-radius: 96px;
  border-bottom-right-radius: 96px;
}
