.homepage-main-box {
  width: 592px;
  height: 500px;
  border-radius: 72px;
  position: relative;
  top: -80px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.hangman-logo {
  left: 25%;
  transform: translateX(-50%, 0);
  top: -100px;
  z-index: 10;
}

.homepage-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.play-button {
  border-radius: 100%;
  background: var(--pink-gradient);
  box-shadow: inset 0px -4px 0px 5px var(--dark-grey),
    inset 0px -12px 0px 11px #9d2df5, 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  height: 200px;
  width: 200px;
  cursor: pointer;
  margin: 0 auto;
  border: 0;
  outline: 0;
  opacity: 1;
  margin-top: 129px;
}

.homepage-main-box-background {
  height: 100%;
  width: 100%;
  opacity: 0.9;
  background: linear-gradient(
    rgba(52, 74, 186, 100) 0%,
    rgba(0, 20, 121, 83) 100%
  );
  border-radius: 72px;
  box-shadow: inset 0px -8px 0px 4px #140566, inset 0px 6px 0px 8px var(--blue);
}

.homepage-main-box-foreground {
  display: flex;
  flex-direction: column;
  animation: fade-in 3s;
}

.homepage-main-box-background,
.homepage-main-box-foreground {
  position: absolute;
}

.how-to-play {
  text-transform: uppercase;
  font-family: "MouseMemoirs-Regular";
  border-radius: 40px;
  padding: 12px;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.05em;
  height: 62px;
  width: 260px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0px -2px 0px 3px #140e66, inset 0px 1px 0px 6px #3c74ff;
  outline: 0;
  background-color: var(--blue);
  color: white;
  margin-top: 58px;
  cursor: pointer;
  position: relative;
  font-weight: 100;
  border: 1px solid #140e66;
}

.how-to-play:hover {
  background: var(--light-blue);
}

.play-button:hover {
  background: var(--pink-gradient-hover);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
