@font-face {
  font-family: MouseMemoirs-Regular;
  src: url("assets/fonts/MouseMemoirs-Regular.ttf");
}

.info-page-container {
  height: 100%;
  padding: 80px 112px;
  min-height: 100vh;
}
.info-page-background {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(#1a043a 0%, #15127b 70%, #2b1677 100%);
  opacity: 0.7;
  z-index: -2;
  height: 100%;
}

.info-page-foreground {
  z-index: 10;
}

.info-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-page-title {
  font-size: 136px;
  background: -webkit-linear-gradient(#67b6ff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "MouseMemoirs-Regular", sans-serif;
  position: relative;
  letter-spacing: -0.5%;
  line-height: 120%;
  font-weight: 100;
}

.info-page-title:after {
  text-shadow: 0px 8px 14px black;
  content: attr(data-text);
  position: absolute;
  left: 0;
  z-index: -1;
  -webkit-text-stroke: 16px rgba(36, 48, 65, 1);
  font-size: 1em;
}

.how-to-play-steps {
  margin-top: 64px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
  vertical-align: top;
}

.categories-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 50px 32px;
  margin-top: 155px;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid white;
  animation: spinner-bulqg1 0.8s infinite linear alternate,
    spinner-oaa3wk 1.6s infinite linear;
}

@keyframes spinner-bulqg1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }

  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }

  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}

@keyframes spinner-oaa3wk {
  0% {
    transform: scaleY(1) rotate(0deg);
  }

  49.99% {
    transform: scaleY(1) rotate(135deg);
  }

  50% {
    transform: scaleY(-1) rotate(0deg);
  }

  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
