* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

body,
html {
  min-height: 100vh;
  height: 100%;
}

body {
  margin: 0;
  background-image: url("/assets/images/background-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-family: "MouseMemoirs-Regular", sans-serif;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  height: 100%;
}
