.homepage-main-box {
  width: 592px;
  height: 500px;
  border-radius: 72px;
  position: relative;
  top: -80px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.hangman-logo {
  left: 25%;
  transform: translateX(-50%, 0);
  top: -100px;
  z-index: 10;
}

.homepage-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 203px;
  width: 100%;
}

.play-button {
  border-radius: 100%;
  background: var(--pink-gradient);
  box-shadow: inset 0px -4px 0px 5px var(--dark-grey),
    inset 0px -12px 0px 11px #9d2df5, 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  height: 200px;
  width: 200px;
  cursor: pointer;
  margin: 0 auto;
  border: 0;
  outline: 0;
  opacity: 1;
  margin-top: 129px;
  margin-bottom: 58px;
}

.homepage-main-box-background {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    rgba(52, 74, 186, 100) 0%,
    rgba(0, 20, 121, 0.83) 100%
  );
  border-radius: 72px;
  box-shadow: inset 0px -8px 0px 4px var(--dark-blue),
    inset 0px 6px 0px 8px var(--blue);
}

.homepage-main-box-foreground {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade-in 3s;
}

.homepage-main-box-background,
.homepage-main-box-foreground {
  position: absolute;
}

.play-button:hover,
.play-button:focus {
  background: var(--pink-gradient-hover);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@media (max-width: 1439px) {
  .homepage-main {
    padding-top: 207px;
  }
}

@media (max-width: 767px) {
  .hangman-logo img {
    width: 263px;
  }

  .homepage-main-box {
    width: 100%;
    padding: 0 31px;
    height: 481px;
    border-radius: 48px;
  }

  .play-button {
    width: 160px;
    height: 160px;
    margin-top: 138px;
    margin-bottom: 57px;
  }

  .play-button img {
    width: 52px;
    height: 49px;
  }

  .homepage-main-box-foreground {
    padding: 0 31px;
    width: 100%;
  }

  .homepage-main-box-background {
    border-radius: 48px;
  }

  .how-to-play {
    max-width: 260px;
    width: 100%;
  }

  .homepage-main {
    padding-top: 156px;
    height: 100%;
  }
}
