.game-board-page-foreground {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-title {
  font-size: 88px;
  color: white;
  font-weight: 100;
  line-height: 120%;
  letter-spacing: 0;
}

.game-board-page-background {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(#1a043a 0%, #15127b 70%, #2b1677 100%);
  opacity: 0.7;
  z-index: -2;
  height: 100%;
}

.game-board-page-container {
  height: 100%;
  padding: 80px 112px;
  min-height: 100vh;
  width: 100%;
}

.game-board-page-header-left {
  display: flex;
  align-items: center;
}

.game-board-page-header-right {
  display: flex;
  align-items: center;
}

.player-lives-bar {
  border-radius: 96px;
  width: 240px;
  height: 31px;
  background-color: white;
  padding: 11px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
