.category-title {
  font-size: 88px;
  color: white;
  font-weight: 100;
  line-height: 120%;
  letter-spacing: 0;
}

.game-board-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.game-board-page-header-left {
  display: flex;
  align-items: center;
}

.game-board-page-header-right {
  display: flex;
  align-items: center;
}

.player-lives-bar {
  border-radius: 96px;
  width: 240px;
  height: 31px;
  background-color: white;
  padding: 11px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1439px) {
  .category-title {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

@media (max-width: 767px) {
  .game-board-page-header {
    padding: 0;
    padding-top: 18px;
  }

  .category-title {
    text-transform: none;
    font-size: 26px;
  }
}
